/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    color: black;
    font-family: 'Fredoka', sans-serif;
}
.font-pink{
    color: #e43979;
    text-align: center;
    padding: 2rem;
}
img{
    width: 20%;

}
.column-six{
    float: left;
    width: 33%;
    /*border: #e43979 solid 1px; */
    text-align: center;
    padding: 3rem;
}    
p{
    padding: 1rem;
}
main{
    padding: 2rem 0;
}
