/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    color: black;
    font-family: 'Fredoka', sans-serif;
}
.font-pink{
    color: #e43979;
    text-align: center;
    padding: 2rem;
}
img{
    width: 25%;
    float: left;
}
h2,p{
    color: white;
    vertical-align: middle;
}
div.background{
    background-color: #0f0e17;
    padding: 1.4rem;
    margin: 0;
    
}
    
   
    
.column-six{
    float: left;
    width: 30%;
    /*border: #e43979 solid 1px; */
    padding: 2rem;
    margin: 0em;
    text-align: initial;
    
}    
span{
    padding: 5rem;
    text-align: center;
}
main{
    padding: 2rem 0;
}
